Repository redhat-documentation/vale-at-red-hat, pull requests merged in 2022-09, with the labels that each got.

#224 Provide a non-technical overview of Vale and the Red Hat Style #223
  modules/user-guide/pages/introduction.adoc
Labels: documentation

#298 feat: underscores in user-defined values
  .vale/fixtures/RedHat/UserReplacedValues/.vale.ini
  .vale/fixtures/RedHat/UserReplacedValues/testinvalid.adoc
  .vale/fixtures/RedHat/UserReplacedValues/testvalid.adoc
  .vale/styles/RedHat/UserReplacedValues.yml
  modules/reference-guide/nav.adoc
  modules/reference-guide/pages/repeatedwords.adoc
  modules/reference-guide/pages/userreplacedvalues.adoc
Labels: RedHat.UserReplacedValues

#314 added slash exception for C/C++
  .vale/fixtures/RedHat/Slash/testvalid.adoc
  .vale/styles/RedHat/Slash.yml
Labels: RedHat.Slash

#315 removed 'demo' from termserrors
  .vale/fixtures/RedHat/TermsErrors/testinvalid.adoc
  .vale/fixtures/RedHat/TermsErrors/testvalid.adoc
  .vale/styles/RedHat/TermsErrors.yml
Labels: RedHat.TermsErrors

#316 removed 'on-premise' from termserrors
  .vale/fixtures/RedHat/TermsErrors/testinvalid.adoc
  .vale/fixtures/RedHat/TermsErrors/testvalid.adoc
  .vale/fixtures/RedHat/TermsWarnings/testinvalid.adoc
  .vale/fixtures/RedHat/TermsWarnings/testvalid.adoc
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsWarnings.yml
Labels: RedHat.TermsErrors, RedHat.TermsWarnings
