Repository redhat-documentation/vale-at-red-hat, pull requests merged in 2023-02, with the labels that each got.

#448 feat: 'desynchronize' and 'desynchronized' are correct
  .vale/fixtures/RedHat/Spelling/testvalid.adoc
  .vale/styles/RedHat/Spelling.yml
Labels: RedHat.Spelling

#445 Ensure the correct spelling of OpenShift
  .vale/fixtures/RedHat/TermsErrors/testinvalid.adoc
  .vale/fixtures/RedHat/TermsErrors/testvalid.adoc
  .vale/styles/RedHat/TermsErrors.yml
Labels: RedHat.TermsErrors

#449 feat: 'PowerShell' is correct
  .vale/fixtures/RedHat/PascalCamelCase/testvalid.adoc
  .vale/styles/RedHat/PascalCamelCase.yml
Labels: RedHat.PascalCamelCase

#450 feat: 'Technology Preview' is correct in a title
  .vale/fixtures/RedHat/Headings/testvalid.adoc
  .vale/styles/RedHat/Headings.yml
Labels: RedHat.Headings

#446 feat: 'Running Kind on Windows Subsystem for Linux' title is correct
  .vale/fixtures/RedHat/Headings/testvalid.adoc
  .vale/styles/RedHat/Headings.yml
Labels: RedHat.Headings

#447 feat: 'Podman machine' is correct
  .vale/fixtures/RedHat/Usage/testvalid.adoc
  .vale/styles/RedHat/Usage.yml
Labels: RedHat.Usage

#451 feat: 'Command Prompt' is correct, 'command prompt' is incorrect
  .vale/fixtures/RedHat/CaseSensitiveTerms/testinvalid.adoc
  .vale/fixtures/RedHat/CaseSensitiveTerms/testvalid.adoc
  .vale/fixtures/RedHat/TermsErrors/testinvalid.adoc
  .vale/fixtures/RedHat/TermsErrors/testvalid.adoc
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/TermsErrors.yml
Labels: RedHat.TermsErrors, RedHat.CaseSensitiveTerms

#456 feat: 'Podman Desktop' and 'Certificate Authorities (CA)' are correct in a title
  .vale/fixtures/RedHat/Headings/testvalid.adoc
  .vale/styles/RedHat/Headings.yml
Labels: RedHat.Headings

#459 feat: 'Windows' is correct, it is not necessarly followed by 'Server'
  .vale/fixtures/RedHat/CaseSensitiveTerms/testinvalid.adoc
  .vale/fixtures/RedHat/CaseSensitiveTerms/testvalid.adoc
  .vale/styles/RedHat/CaseSensitiveTerms.yml
Labels: RedHat.CaseSensitiveTerms
